<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Practise</title>
</head>
<body>

<form action="#" method="get">
    First Name:
    <input type="text" placeholder="First Name"/>
    <br/>
    <br/>

    Last Name:
    <input type="text" placeholder="Last Name"/>
    <br/>
    <br/>
    <h3>List Your Favorite Food</h3>
    <textarea rows="5" columns="15" maxlength="250"></textarea>
    <br/>
    <input type="submit"/>
    <input type="reset" value="Clear"/>
</form>

</body>
</html>